exportPattern("^[[:alpha:]]+")
importFrom(httr, GET, content)
importFrom(lubridate, ms, minute, second, hms)
importFrom(jsonlite, fromJSON)
import(dplyr)
importFrom(tidyr, unnest)
importFrom(rlang, .data)
